<div class='width search-curriculum-page'>
  <!-- %br -->
  <div class="col-md-12">
    <div class="entry-content d-flex align-items-start justify-content-between mb-3">
      <div class="me-3">
        <div class="pull-left">
          <h2 class="normal">Search Curriculum</h2>
          <p>
            Search by emotional theme, materials needed, ease of set-up and clean-up and more.
            <br>We always encourage the creativity and innovation of each Windows Facilitator;
            if you adapt and improve workshops, please be sure to share your ideas with us!
          </p>
        </div>
        <div class="pull-right">
          <% if current_user.super_user? %>
            <div>
              <%= link_to 'New Workshop', new_workshop_path, class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
    <div class="inner-container">
    <div class='small-gray-title'>
      Filter By
    </div>
    <div class='instructions'>
      Click on categories below to expand
    </div>
    <%= form_tag('/workshops', method: :get) do %>
      <div class='width checkbox-area'>
        <%= render 'shared/categories_fields', metadata: @metadata %>
        <%= render 'sectors_fields', sectors: @sectors %>
      </div>
      <div class='search-wrapper'>
        <div class="search-field-row col-md-6">
          <%= label_tag "Title" %>
          <div class="search-input-wrapper" style="position: relative; display: inline-block; width: 100%;">
            <%= text_field_tag :title, params[:title], class: 'search', placeholder: 'Title', style: 'padding-right: 30px;' %>
            <div class="submit-div" style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%); cursor: pointer;">
              <i class='glyphicon glyphicon-search'></i>
            </div>
          </div>
        </div>
        <div class='search-field-row col-md-6'>
          <%= label_tag "Keywords" %>
          <div class="search-input-wrapper" style="position: relative; display: inline-block; width: 100%;">
            <%= text_field_tag :query, params[:query], class: 'search', placeholder: 'Keywords', style: 'padding-right: 30px;' %>
            <div class="submit-div" style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%); cursor: pointer;">
              <i class='fa fa-search'></i>
            </div>
          </div>
        </div>
        <div class="col-md-12 filtered-by mt-3">
          <%= render "filters_applied" %>
        </div>
        <div class="col-md-12 mb-3"></div>
        <div class='sort-options'>
          <br>
          <div class='sortable-label'>
            <b>Sort By:</b>
          </div>
          <div class='sortable-group'>
            <%= render 'sortable_fields', sortable_fields: @sortable_fields %>
          </div>
        </div>
        <div class='list-group'>
          <% if @workshops.any? %>
            <div id="workshops-list">
              <% @workshops.each do |workshop| %>
              <%= render 'workshops/flex', workshop: workshop.decorate, breadcrumb: 'Search Curriculum', link_route: workshop_path(workshop) %>
            <% end %>
            </div>

            <div class='paginate-container'>
              <!-- ##### Will Paginate #### -->
              <%= will_paginate @workshops, :previous_label => '<<', :next_label => '>>', :inner_window => 2 %>
            </div>
          <% else %>
            Your search returned no results.  Please try again.
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>
<script>
    $('.submit-div').click(function() {
        $(this).closest('form').submit();
    });

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll(".category-checkbox, .sector-checkbox").forEach(function(checkbox) {
            checkbox.addEventListener("change", function() {
                this.form.submit();
            });
        });
    });
</script>
