<div class="list-group-item list-group-item-custom">
  <div class="row">

    <div class="col-xs-4 fixed-width">
      <div class="portrait-img content-img-popular popular-img" style="background-image: url(<%= workshop.thumbnail_image %>)"></div>
    </div>
    <div class="col-md-8 col-xs-6-custom content-heading span">
      <div class="col-md-4">
        <h3><%= link_to workshop.title, link_route %></h3>
        <div class="bookmarked-on">
          <small>Bookmarked on <%= bookmark.created_at.strftime("%B %d, %Y") %></small>
          <br>
          <small>Bookmarked by <%= workshop.bookmarks.length %> <%= "facilitator".pluralize(workshop.bookmarks.length) %></small>
        </div>

        <small class="workshop-thanksto">
          <% if workshop.full_name || workshop.user %>
            Thanks to
            <% if workshop.user %>
              <%= link_to(workshop.full_name.present? ? workshop.full_name : workshop.user.full_name, user_path(workshop.user)) %>
            <% else %>
              <%= workshop.full_name %>
            <% end %>
            <br/>
            <% end %>
          <%= "In #{workshop.windows_type_name.gsub(" WORKSHOP LOG", "'s windows").gsub("LOG","").titleize if workshop.windows_type}"  %>
        </small>
      </div>

      <div class="col-md-4">
        <div class="workshop-description">
          <span title="<%= workshop.formatted_objective(length: 600) %>">
            <%= truncate(workshop.formatted_objective(length: 215), length: 215, omission: '... ', separator: ' ') %>
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="workshop-categories" style="font-style: italic;">
          <span title="<%= workshop.categories.map(&:name).to_sentence %>">
            <%= "Categories: " if workshop.categories.any? %><%= workshop.categories.map(&:name).to_sentence.truncate(150) %>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
