<div class="list-group-item list-group-item-custom">
  <div class="row">

    <div class="col-xs-4 fixed-width">
      <div class="portrait-img content-img-popular popular-img" style="background-image: url(<%= workshop.main_image %>)"></div>
    </div>
    <div class="col-md-8 col-xs-6-custom content-heading span">
      <div class="col-md-4">
        <h3><%= link_to workshop.title, link_route %></h3>
        <div class="bookmarked-on">
          <small>Bookmarked on <%= bookmark.created_at.strftime("%B %d, %Y") %></small>
          <br>
          <small>Bookmarked by <%= workshop.bookmarks.length %> <%= "facilitator".pluralize(workshop.bookmarks.length) %></small>
        </div>

        <small class="workshop-thanksto">
          <% if workshop.full_name || workshop.user %>
            Thanks to
            <% if workshop.user %>
              <%= link_to(workshop.full_name.present? ? workshop.full_name :
                            workshop.user.full_name, generate_facilitator_user_path(workshop.user)) %>
            <% else %>
              <%= workshop.full_name %>
            <% end %>
            <br/>
            <% end %>
          <%= "In #{workshop.windows_type_name.gsub(" WORKSHOP LOG", "'s windows").gsub("LOG","").titleize if workshop.windows_type}"  %>
        </small>
      </div>

      <div class="col-md-3">
        <div class="workshop-description">
          <span title="<%= workshop.formatted_objective(length: 600) %>">
            <%= truncate(workshop.formatted_objective(length: 215), length: 215, omission: '... ', separator: ' ') %>
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="workshop-categories" style="font-style: italic;">
          <span title="<%= workshop.categories.map(&:name).to_sentence %>">
            <%= "Categories: " if workshop.categories.any? %><%= workshop.categories.map(&:name).to_sentence.truncate(150) %>
          </span>
        </div>
      </div>

      <div class="col-md-1 pull-right">
        <div class="bookmark-action">
          <%= link_to "Remove", bookmark_path(bookmark, from: "index"),
                      method: :delete,
                      data: { confirm: "Are you sure you want to remove this bookmark?" },
                      class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  </div>

</div>


<% workshop = bookmark.bookmarkable.decorate %>
<% workshop_series_membership ||= nil %>
<% description_length ||= 600 %>
<% spanish ||= false %>
<% hide_tags ||= false %>

<% if workshop_series_membership %>
  <% description = workshop_series_membership.series_description_for(spanish: spanish,
                                                                     length: description_length) %>
<% else %>
  <% description = workshop.formatted_objective(length: description_length) %>
<% end %>

<div
  id="workshop-<%= workshop.id %>"
  class="
    flex flex-col md:flex-row <%= "admin-only bg-blue-100" if workshop.inactive? %> border-b
    border-gray-200 py-4 list-group-item-custom gap-4
  "
>
  <div
    id="workshop-<%= workshop.id %>-anchor"
    style="position: relative; top: -200px;"
  ></div>
  <!-- 1️⃣ Image -->
  <div class="flex-shrink-0 w-32 h-24 bg-gray-100 rounded overflow-hidden">
    <%= link_to workshop_path(workshop) do %>
      <img
        class="object-cover w-full h-full"
        src="<%= workshop.images.last&.file&.url || asset_path('workshop_default.jpg') %>"
      >
    <% end %>
  </div>
  <!-- 2️⃣ Title / author / metadata -->
  <%= turbo_frame_tag dom_id(workshop, :bookmark) do %>
    <%= turbo_flash %>
    <div class="flex flex-col gap-1 min-w-[40ch] max-w-[40ch] break-words">
      <h3 class="text-lg font-bold text-gray-800 flex items-center gap-2">
        <% if workshop.bookmarks.any? { |b| b.user_id == current_user.id } %>
          <%= link_to bookmark_path(current_user.bookmark_for(workshop),
                                    from: "workshops_index",
                                    **request.query_parameters,
                                    anchor: "workshop-#{workshop.id}-anchor"),
                      class: "inline-block",
                      data: { turbo_method: :delete, turbo_confirm: "Remove bookmark?" } do %>
            <i class="fas fa-bookmark w-5 h-5 text-blue-500 hover:text-gray-400"></i>
          <% end %>
        <% else %>
          <%= link_to bookmarks_path(bookmark: { bookmarkable_id: workshop.id,
                                                 bookmarkable_type: "Workshop" },
                                     from: "workshops_index",
                                     **request.query_parameters,
                                     anchor: "workshop-#{workshop.id}-anchor"),
                      class: "inline-block",
                      data: {turbo_method: :post} do %>
            <i class="far fa-bookmark w-5 h-5 text-gray-400 hover:text-blue-500"></i>
          <% end %>
        <% end %>
        <%= link_to "#{workshop.title}#{" [HIDDEN]" if workshop.inactive?}",
                    link_route,
                    class: "hover:underline",
                    data: { turbo: false, } %>
      </h3>

      <div class="text-sm text-gray-600">
        Author:
        <% if workshop.user %>
          <%= link_to workshop.author_name,
                      generate_facilitator_user_path(workshop.user),
                      class: "hover:underline",
                      data: { turbo: false, } %>
        <% else %>
          <%= workshop.full_name.present? ? workshop.full_name : "Facilitator" %>
        <% end %>
      </div>

      <div class="text-sm text-gray-600">
        <span>
          Type/date:
          <%= if workshop.windows_type.present?
                "#{workshop.windows_type.short_name} - #{workshop.date}"
              end %>
          <% if workshop.workshop_age_ranges.any? %>
            (<%= workshop.workshop_age_ranges.to_sentence %>)
          <% end %>
        </span>
      </div>

      <div class="text-sm text-gray-600">
        Bookmarked:
        <%= workshop.led_count %>
        <%= "time".pluralize(workshop.led_count) %>
      </div>
    </div>
  <% end %>

  <!-- 3️⃣ Description -->
  <div class="flex-1 text-sm text-gray-700">
    <p class="workshop-description">
    <span title="<%= description %>">
      <%= sanitize(
            truncate(
              CGI.unescapeHTML(description),
              length: 215,
              omission: "... ",
              separator: " ",
              ),
            ) %>
    </span>
    </p>
    <!-- 4️⃣ Tags (optional) -->
    <% unless hide_tags %>
      <% if workshop.categories.any? %>
        <p class="tags mt-3 italic">
          Tags:
          <span title="<%= workshop.categories.map(&:name).to_sentence %>">
          <%= workshop.categories.map(&:name).to_sentence.truncate(150) %>
        </span>
        </p>
      <% end %>
    <% end %>
  </div>
</div>


