<section class="mt-10 px-8">
  <div class="flex flex-col items-start mb-4">
    <h2 class="text-3xl text-gray-700 m-2">Admin Dashboard</h2>
  </div>

  <div class="flex gap-6">
    <!-- Column 1 -->
    <div class="flex flex-col gap-4 flex-1">
      Admin-generated
      <% @system_cards.each do |card| %>
        <a href="<%= card[:path] %>"
           class="flex items-center gap-6 rounded-lg shadow-lg border border-gray-200
                  <%= card[:bg_color] %> <%= card[:text_color] %>
                  <%= card[:hover_bg_color] %> transition-colors transition-shadow duration-300 p-4">
          <div class="text-5xl text-gray-700 flex-shrink-0">
<!--            <i class="fa-solid <%#= card[:icon] %>" aria-hidden="true"></i>-->
            <%= card[:icon] %>
          </div>

          <div class="flex-1">
            <h3 class="text-xl font-bold text-gray-800 break-words">
              <%= card[:title] %>
            </h3>
          </div>

        </a>
      <% end %>
    </div>

    <!-- Column 2 -->
    <div class="flex flex-col gap-4 flex-1">
      User-generated
      <% @user_content_cards.each do |card| %>
        <a href="<%= card[:path] %>"
           class="flex items-center gap-6 rounded-lg shadow-lg border border-gray-200
                  <%= card[:bg_color] %> <%= card[:text_color] %>
                  <%= card[:hover_bg_color] %> transition-colors transition-shadow duration-300 p-4">
          <div class="text-5xl text-gray-700 flex-shrink-0">
            <%= card[:icon] %>
          </div>

          <div class="flex-1">
            <h3 class="text-xl font-bold text-gray-800 break-words"><%= card[:title] %></h3>
          </div>

        </a>
      <% end %>
    </div>
  </div>

  <div class="mt-20">
    Base data
    <div class="flex gap-6 mt-3">
      <% @reference_cards.each do |card| %>
        <a href="<%= card[:path] %>"
           class="flex items-center gap-6 rounded-lg shadow-lg border border-gray-200
                  <%= card[:bg_color] %> <%= card[:text_color] %>
                  <%= card[:hover_bg_color] %> transition-colors transition-shadow duration-300 p-4">

          <div class="text-5xl text-gray-700 flex-shrink-0">
            <%= card[:icon] %>
          </div>

          <div class="flex-1">
            <h3 class="text-xl font-bold text-gray-800 break-words"><%= card[:title] %></h3>
          </div>

        </a>
      <% end %>
    </div>
  </div>
</section>

<div class="hidden
    bg-black
    bg-gray-50 bg-gray-100 bg-gray-200 bg-gray-500

    bg-red-800
    bg-cyan-50 bg-cyan-100 bg-cyan-200 bg-cyan-500
    bg-pink-50 bg-pink-100 bg-pink-200 bg-pink-500
    bg-yellow-50 bg-yellow-100 bg-yellow-200

    text-gray-50 text-transparent
    text-blue-800
    text-green-800 text-green-200
    text-indigo-800
    text-orange-800
    text-pink-800
    text-purple-800
    text-red-800
    text-yellow-800">
</div>
