<% label_method ||= :name %>

<div class="relative">
  <div
    data-controller="dropdown"
    class="inline-block w-full"
    data-dropdown-target="content"
  >
    <button
      id="<%= dom_id_prefix %>-button"
      type="button"
      data-action="dropdown#toggle"
      data-dropdown-payload-param='[{"<%= dom_id_prefix %>-dropdown":"hidden"},{"<%= dom_id_prefix %>-arrow":"rotate-180"},{"<%= dom_id_prefix %>-button":"rounded-md rounded-t-md"}]'
      class="
        relative z-10 w-full bg-white text-gray-800 py-2 px-4 shadow-sm rounded-md
        border border-gray-300 cursor-pointer flex justify-between items-center
      "
    >
      <label class="mb-0 font-medium text-gray-700"><%= label_text %></label>
      <i
        id="<%= dom_id_prefix %>-arrow"
        class="
          fa-solid fa-chevron-down w-4 h-4 transition-transform duration-300
        "
      ></i>
    </button>

    <div
      id="<%= dom_id_prefix %>-dropdown"
      class="
        absolute left-0 top-full w-full shadow-sm bg-white border border-t-0
        border-gray-300 rounded-b-md hidden z-40
      "
    >
      <%# Class "category-checkbox" is used to submit on change %>
      <% items.each do |item| %>
        <div class="flex items-center gap-2 mb-1 px-4">
          <%= check_box_tag "#{param_name}[#{item.id}]",
          item.id,
          params.dig(param_name, item.id.to_s).to_s == item.id.to_s,
          id: "#{param_name}_#{item.id}",
          class: "category-checkbox" %>
          <%= label_tag "#{param_name}_#{item.id}",
          item.public_send(label_method).titleize,
          class: "text-sm text-gray-700" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
