<div class="w-full mx-auto" data-controller="timeframe">
  <%= simple_form_for @workshop do |f| %>
    <!-- Errors -->
    <% if workshop.errors.any? %>
      <%= render 'shared/errors', resource: workshop %>
    <% end %>

    <!-- Row 1 -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
      <div>
        <%= f.input :title,
                    as: :text,
                    label: "Workshop title",
                    required: true,
                    input_html: { rows: 2,
                                  class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500" },
                    wrapper: false,
                    label_html: { class: "font-medium block text-gray-700 mb-1" } %>
      </div>

      <div>
        <%= f.input :windows_type_id,
                    as: :select,
                    label: "Workshop type",
                    required: true,
                    collection: @windows_types, label_method: :short_name, value_method: :id,
                    selected: @workshop.windows_type_id,
                    input_html: { class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>
      </div>

      <div>
        <label class="block text-md font-medium text-gray-700 mb-1">Timeframe / Duration</label>

        <div class="flex gap-x-2 font-bold text-xl items-center">
          <span
            data-timeframe-target="output"
            class="text-gray-900 font-medium"
          >
            <%= f.object.time_frame_total %>
          </span>
        </div>

        <p class="text-sm text-gray-500 mt-1">
          Automatic total time, in 15min increments
        </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-1 gap-6 mb-6">
      <%= f.input :objective, as: :text, label: "Workshop objective",
                  hint: "Indicate goals of the workshop",
                  input_html: { rows: 3, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>
    </div>


    <!-- Row 2 -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
      <% if current_user.super_user %>
        <div class="admin-only bg-blue-100 p-3 flex gap-x-2 items-center">
          <%= f.input :full_name, as: :text,
                      label: "Author's name",
                      hint: "Display name",
                      input_html: {
                        rows: 1,
                        class: "block w-full rounded-md border-gray-300 shadow-sm
                        focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>
          <%= f.input :user_id,
                      as: :select,
                      label: "Author",
                      collection: User.order(:last_name, :first_name),
                      hint: "aka Created By",
                      input_html: {
                        class: "block w-full rounded-md border-gray-300 shadow-sm
                        focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>
        </div>
        <div class="admin-only bg-blue-100 flex p-3 gap-x-2 items-center">
          <%= f.input :workshop_idea_id,
                      as: :select,
                      label: "Workshop Idea parent",
                      collection: @workshop_ideas,
                      selected: f.object.workshop_idea_id,
                      include_blank: true,
                      hint: "If this workshop was created from a Workshop Idea, select it here.",
                      input_html: { value: f.object.workshop_idea_id,
                                    class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>
        </div>
        <div class="admin-only bg-blue-100 p-3">
          <label class="block text-sm font-medium text-gray-700 mb-1">Flags</label>
          <div class="flex gap-x-6 items-center">
            <%= f.input :featured, as: :boolean, wrapper: false %>
            <%= f.input :inactive, as: :boolean, label: "Hidden?", wrapper: false %>
          </div>
        </div>
    <% else %>
        <%= f.hidden_field :user_id, value: current_user&.id %>
      <% end %>
    </div>

    <!-- Row 3 -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
      <%= f.input :materials, as: :text, label: "Materials needed",
                  hint: "List all materials needed to create the workshop",
                  input_html: { rows: 2, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>

      <%= f.input :optional_materials, as: :text, label: "Optional materials",
                  # hint: "List other optional materials",
                  input_html: { rows: 2, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>

      <%= f.input :setup, as: :text, label: "Set Up Instructions",
                  hint: "Include any tips needed to prep",
                  input_html: { rows: 2, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>
    </div>

    <!-- Intro/opening -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
      <div class="flex gap-2">
        <div class="flex-1">
          <%= f.input :introduction,
                      as: :text,
                      label: "Introduction",
                      hint: "Include a description of the introduction",
                      input_html: { rows: 2,
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
        <div class="w-24">
          <%= f.input :time_intro,
                      label: "Minutes",
                      input_html: { min: 0,
                                    data: { timeframe_target: "input", action: "input->timeframe#update" },
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
      </div>

      <div class="flex gap-2">
        <div class="flex-1">
          <%= f.input :opening_circle,
                      as: :text,
                      label: "Opening circle",
                      hint: "Include a description of the opening circle",
                      input_html: { rows: 2,
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
        <div class="w-24">
          <%= f.input :time_opening_circle,
                      label: "Minutes",
                      input_html: { min: 0,
                                    data: { timeframe_target: "input", action: "input->timeframe#update" },
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
      </div>
    </div>

    <!-- Demonstration / Warm-up / Creation / Closing -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
      <!-- Demonstration -->
      <div class="flex gap-2">
        <div class="flex-1">
          <%= f.input :demonstration,
                      as: :text,
                      label: "Demonstration Instructions",
                      hint: "Include a description of a demonstration of the activity",
                      input_html: { rows: 2,
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
        <div class="w-24">
          <%= f.input :time_demonstration,
                      label: "Minutes",
                      input_html: { min: 0,
                                    data: { timeframe_target: "input", action: "input->timeframe#update" },
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
      </div>

      <!-- Warm Up -->
      <div class="flex gap-2">
        <div class="flex-1">
          <%= f.input :warm_up,
                      as: :text,
                      label: "Warm-up / relaxation / meditation",
                      hint: "Include a warm-up or relaxation activity",
                      input_html: { rows: 2,
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
        <div class="w-24">
          <%= f.input :time_warm_up,
                      label: "Minutes",
                      input_html: { min: 0,
                                    data: { timeframe_target: "input", action: "input->timeframe#update" },
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
      </div>

      <!-- Creation -->
      <div class="flex gap-2">
        <div class="flex-1">
          <%= f.input :creation,
                      as: :text,
                      label: "Creation",
                      hint: "Step-by-step how to create the workshop",
                      input_html: { rows: 3,
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
        <div class="w-24">
          <%= f.input :time_creation,
                      label: "Minutes",
                      input_html: { min: 0,
                                    data: { timeframe_target: "input", action: "input->timeframe#update" },
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
      </div>

      <!-- Closing -->
      <div class="flex gap-2">
        <div class="flex-1">
          <%= f.input :closing,
                      as: :text,
                      label: "Closing",
                      hint: "Step-by-step how to close the workshop",
                      input_html: { rows: 3,
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
        <div class="w-24">
          <%= f.input :time_closing,
                      label: "Minutes",
                      input_html: { min: 0,
                                    data: { timeframe_target: "input", action: "input->timeframe#update" },
                                    class: "w-full border rounded-md p-2 focus:ring focus:ring-blue-500" } %>
        </div>
      </div>
    </div>

    <!-- Notes / Tips / Date -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
      <%= f.input :notes, as: :text,
                  hint: "Anything else you'd like us to know",
                  input_html: { rows: 2, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>

      <%= f.input :tips, as: :text,
                  hint: "Any tips on how to make this workshop a success",
                  input_html: { rows: 2, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>

      <% if current_user.super_user %>
        <div class="admin-only bg-blue-100">
          <label class="block text-sm font-medium text-gray-700 mb-1">Date created</label>
          <div class="flex gap-x-2">
            <%= f.input :month, as: :select,
                        collection: Date::MONTHNAMES.compact.each_with_index.map { |m, i| [m, i + 1] },
                        selected: f.object.month || Date.today.month,
                        wrapper: false, label: false,
                        input_html: { class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>
            <%= f.input :year,
                        as: :integer,
                        wrapper: false,
                        label: false,
                        input_html: {
                          value: f.object.year || Date.today.year,
                          class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                        } %>
          </div>
        </div>
      <% end %>
    </div>

    <%= render "shared/form_image_fields", f: f, include_primary_asset: true %>


    <!-- Accordions -->
    <div class="space-y-4">
      <div class="tags-section" data-controller="dropdown">
        <button
          type="button"
          id="tags_button"
          class="
            flex items-center justify-between cursor-pointer w-full
            bg-gray-500 text-white hover:bg-gray-300 px-3 py-2 rounded-md
          "
          data-action="dropdown#toggle"
          data-dropdown-payload-param='[{"tags":"hidden"}, {"tags_arrow":"rotate-180"}, {"tags_button":"rounded-md rounded-t-md"}]'
        >
          Tags
          <svg
            id="tags_arrow"
            class="w-6 h-6 shrink-0"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <div id="tags" class="hidden border border-gray-300 p-4 rounded-b-md">

          <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 shadow-sm mb-6">

            <!-- Header -->
            <h3 class="text-base font-semibold text-gray-800 mb-3">
              Service Populations
            </h3>

            <!-- Checkbox List -->
            <div class="flex flex-wrap gap-3">
              <% @sectors.each do |sector| %>
                <% id = "workshop_sector_ids_#{sector.id}" %>
                <label for="<%= id %>" class="flex items-center gap-2 p-3 cursor-pointer w-auto min-w-[180px] bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 transition">
                  <%= check_box_tag "workshop[sector_ids][]",
                                    sector.id,
                                    @workshop.sector_ids.include?(sector.id),
                                    id: id,
                                    class: "h-4 w-4 text-blue-600 rounded" %>

                  <span class="text-sm text-gray-700 whitespace-nowrap">
                    <%= sector.name %>
                  </span>
                </label>
              <% end %>
            </div>

          </div>

          <div class="form-group space-y-6">
            <% @categories_grouped.each do |type, cats| %>
              <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 shadow-sm">

                <!-- Header -->
                <h3 class="text-base font-semibold text-gray-800 mb-3">
                  <%= type.name.titleize %>
                </h3>

                <!-- Checkbox List -->
                <div class="flex flex-wrap gap-3">
                  <% cats.sort_by { |c| c.name.to_s }.each do |category| %>
                    <% id = "workshop_category_ids_#{category.id}" %>
                    <label for="<%= id %>" class="flex items-center gap-2 p-3 cursor-pointer w-auto min-w-[180px] bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 transition">
                      <%= check_box_tag "workshop[category_ids][]",
                                        category.id,
                                        @workshop.category_ids.include?(category.id),
                                        id: id,
                                        class: "h-4 w-4 text-blue-600 rounded" %>

                      <span class="text-sm text-gray-700 whitespace-nowrap">
                        <%= category.name %>
                      </span>
                    </label>
                  <% end %>
                </div>
              </div>
            <% end %>

          </div>

        </div>
      </div>

      <div class="spanish-translations-section" data-controller="dropdown">
        <button
          type="button"
          id="translations_button"
          class="
            flex items-center justify-between cursor-pointer w-full
            bg-gray-500 text-white hover:bg-gray-300 px-3 py-2 rounded-md
          "
          data-action="dropdown#toggle"
          data-dropdown-payload-param='[{"translations":"hidden"}, {"translations_arrow":"rotate-180"}, {"translations_button":"rounded-md rounded-t-md"}]'
        >
          Spanish Translations
          <svg
            id="translations_arrow"
            class="w-6 h-6 shrink-0"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <div
          id="translations"
          class="hidden border border-gray-300 p-4 rounded-b-md"
        >
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <% workshop.decorate.display_spanish_fields.each do |field| %>
              <%= f.input field, as: :text,
                          input_html: { rows: 1, class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" } %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="series-section" data-controller="dropdown">
        <div>
          <button
            type="button"
            id="series_button"
            class="
              flex items-center justify-between cursor-pointer w-full
              bg-gray-500 text-white hover:bg-gray-300 px-3 py-2 rounded-md
            "
            data-action="dropdown#toggle"
            data-dropdown-payload-param='[{"series":"hidden"}, {"series_arrow":"rotate-180"}, {"series_button":"rounded-md rounded-t-md"}]'
          >
            Series workshops
            <svg
              id="series_arrow"
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            id="series"
            class="<%= "hidden" unless f.object.workshop_series_children.any? %> border border-gray-300 p-4 rounded-b-md"
          >
            <p class="mb-2 text-sm text-gray-600">
              If this Workshop is a series, add the other "series workshops"
              below. You can also add a series-specific description for each
              workshop in the series, and the order in which they should appear.
              (The main workshop description will appear if you don't add a
              "series description".)
            </p>

            <%= f.fields_for :workshop_series_children do |child_workshop_membership| %>
              <%= render "workshop_series_child_fields", f: child_workshop_membership %>
            <% end %>

            <div class="mt-2">
              <%= link_to_add_association "Add another Workshop to this Series", f, :workshop_series_children, partial: "workshop_series_child_fields", class: "text-blue-600 hover:underline" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Actions -->
    <div class="flex gap-x-3 mt-6">
      <% if f.object.persisted? && current_user.super_user? %>
        <%= link_to "Delete", @workshop, class: "btn btn-danger-outline",
                    method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>

      <%= link_to "Cancel",
                  (current_user.super_user? ? workshops_path : root_path),
                  class: "btn btn-secondary-outline" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

