<div class="show-associations-section print:hidden mt-6">
  <%# if @workshop_variations.any? %>
  <div id="workshop-variations" class="flex-1 space-y-8 bg-white p-4 rounded-lg shadow-md mb-3">
    <section id="workshopVariations">
      <div class="flex items-start justify-between mb-1">
        <div class="pr-6">
          <h2 class="text-lg font-semibold mb-2">Variations of this Workshop</h2>
        </div>
        <%= link_to "New variation",
                    new_workshop_variation_path(from: "workshop_show",
                                                workshop_id: workshop.id),
                    class: "btn btn-secondary-outline" %>
      </div>

      <hr class="border-gray-300 mb-4">
      <div class="d-flex flex-wrap gap-2">
        <% @workshop_variations.each do |variation| %>
          <%= link_to variation.name,
                      workshop_variation_path(variation),
                      class: "btn btn-secondary-outline" %>
        <% end %>
      </div>
    </section>
  </div>
  <%# end %>

  <% if @quotes.any? %>
    <div id="workshop-quotes" class="flex-1 space-y-8 bg-white p-4 rounded-lg shadow-md mb-3">
      <section id="workshopQuotes">
        <div class="flex items-start justify-between mb-1">
          <div class="pr-6">
            <h2 class="text-lg font-semibold mb-2">Quotes</h2>
          </div>
          <% if current_user.super_user? && @workshop.persisted? %>
            <%= link_to "New quote",
                        new_quote_path(workshop_id: @workshop.id),
                        class: "admin-only bg-blue-100 btn btn-secondary-outline" %>
          <% end %>
        </div>

        <hr class="border-gray-300 mb-4">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <% @quotes.decorate.each do |quote| %>
            <div class="space-y-1">
              <p class="italic text-gray-700 text-sm"><%= quote.quote %></p>
              <p class="text-sm font-bold text-gray-800">- <%= quote.speaker %></p>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  <% end %>

  <% if true || @leader_spotlights.any? %>
    <div id="workshop-spotlights" class="flex-1 bg-white p-4 rounded-lg shadow-md mb-3">
      <section id="workshopLeaderSpotlights">
        <div class="flex items-start justify-between mb-1">
          <div class="pr-6">
            <h2 class="text-lg font-semibold mb-2">Related facilitator spotlight(s)</h2>
          </div>
          <% if current_user.super_user? && @workshop.persisted? %>
            <%= link_to "New story",
                        new_story_path(workshop_id: @workshop.id,
                                       windows_type_id: @workshop.windows_type_id,
                                       owner_id: @workshop_id,
                                       owner_type: "Workshop"),
                        class: "admin-only bg-blue-100 btn btn-secondary-outline" %>
          <% end %>
        </div>

        <hr class="border-gray-300 mb-4">
        <div class="flex flex-wrap gap-4">
          <% @leader_spotlights.each do |spotlight| %>
            <div class="flex flex-col items-center space-y-2 max-w-[120px] mb-3">
              <%= link_to resource_path(spotlight), class: "flex flex-col items-center text-center" do %>
                <%= render "assets/display_image",
                           resource: spotlight,
                           width: 10, height: 10,
                           variant: :index,
                           link_to_object: true,
                           file: spotlight.decorate.display_image %>
                <p class="text-sm text-gray-700 mt-1 leading-tight">
                  <span class="block"><%= spotlight.author %></span>
                  <span class="block text-xs text-gray-500"><%= spotlight.title %></span>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  <% end %>
</div>
