<!-- Filters -->
<div class="mb-6 p-4 bg-white border border-gray-200 rounded-lg">
  <%= form_with url: stories_path,
                method: :get,
                data: {controller: "collection",
                      turbo_frame: "story_results" },
                      autocomplete: "off",
                class: "flex flex-wrap gap-4" do |f| %>
    <div>
      <%= f.label :title, "Title contains",
                  class: "text-sm font-medium text-gray-500 mb-1" %>

      <%= f.text_field :title,
                       value: params[:title],
                       placeholder: "e.g. Art, Music…",
                       class: "w-full bg-white border border-gray-300 rounded-lg px-3 py-2
                                 focus:ring-blue-500 focus:border-blue-500",
                       oninput: "this.form.requestSubmit()" %>
    </div>

    <div class="flex-grow min-w-[200px]">
      <%= f.label :query, "Keywords",
                  class: "text-sm font-medium text-gray-500 mb-1" %>

      <%= f.text_field :query,
                       value: params[:query],
                       class: "w-full bg-white border border-gray-300 rounded-lg px-3 py-2
                                 focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <% if current_user.super_user? %>
      <!-- PUBLISHED -->
      <div class="min-w-[150px] admin-only bg-blue-100 p-2 rounded-md">
        <label for="published" class="block text-xs font-semibold uppercase text-gray-600 tracking-wide mb-1">
          Published
        </label>

        <%= select_tag :published_search,
                       options_for_select(
                         [["All", ""], ["Published", "true"], ["Hidden", "false"]],
                         params[:published_search]
                       ),
                       class: "border border-gray-300 rounded-lg px-3 py-2 text-gray-700 w-full",
                       onchange: "this.form.requestSubmit()" %>
      </div>
    <% end %>

    <!-- Clear -->
    <div><%= link_to "Clear",
                  stories_path,
                  class: "btn btn-utility-outline whitespace-nowrap" %></div>
  <% end %>
</div>
