<div class="min-h-screen py-8">
  <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
    <div class="admin-only bg-blue-100 rounded p-6">
      <div class="max-w-7xl mx-auto <%= DomainTheme.bg_class_for(:workshop_variations, intensity: 100) %> border border-gray-200
        rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-200 p-6">
      <div class="space-y-6">
        <!-- Header -->
        <div class="flex items-center justify-between mb-6">
          <h1 class="text-2xl font-semibold text-gray-900">
            <%= WorkshopVariation.model_name.human.pluralize %> (<%= @workshop_variations.object.total_entries %>)
          </h1>
          <div class="flex gap-2">
            <%= link_to "New #{WorkshopVariation.model_name.human.downcase}",
                        new_workshop_variation_path,
                        class: "btn btn-primary" %>
          </div>
        </div>

        <div class="rounded-xl bg-white p-6">
          <div class="overflow-x-auto">
            <table class="table table-responsive table-bordered table-curved">
              <thead>
              <tr id="table-thead-tr">
                <th class="text-left">Name</th>
                <th class="text-left">Description</th>
                <th class="text-start text-nowrap">Workshop</th>
                <th class="text-center">Author</th>
                <th class="text-center">Updated</th>
                <th class="text-center">Edit</th>
              </tr>
              </thead>

              <tbody>
              <% @workshop_variations.each do |workshop_variation| %>
                <tr>
                  <td class="text-start"><%= workshop_variation.name %></td>
                  <td class="text-start">
                    <span title="<%= strip_tags(workshop_variation.code) %>">
                      <%= truncate(strip_tags(workshop_variation.code), length: 150) %>
                    </span>
                  </td>
                  <td class="text-start">
                    <span title="<%= strip_tags(workshop_variation.workshop&.name) %>">
                      <% if workshop_variation.workshop %>
                        <% workshop_name = truncate(strip_tags(workshop_variation.workshop.name), length: 50) %>
                        <%= link_to workshop_name,
                                    workshop_path(workshop_variation.workshop),
                                    class: "btn btn-secondary-outline" %>
                      <% end %>
                    </span>
                  </td>
                  <td>
                    <% if workshop_variation.created_by && workshop_variation.created_by.facilitator %>
                      <%= link_to workshop_variation.created_by.full_name,
                                  facilitator_path(workshop_variation.created_by.facilitator),
                                  class: "btn btn-secondary-outline" %>
                    <% elsif workshop_variation.created_by %>
                      <%= workshop_variation.created_by.full_name %>
                    <% end %>

                  </td>

                  <td class="user-updated-at text-center"><%= workshop_variation.updated_at&.strftime('%m/%d/%y') %></td>
                  <td class="text-center">
                    <%= link_to "Edit",
                                edit_workshop_variation_path(workshop_variation),
                                class: "btn btn-secondary-outline" %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Empty state -->
        <% unless @workshop_variations.any? %>
          <p class="text-gray-500 text-center py-6">
            No <%= WorkshopIdea.model_name.human.pluralize %> found.
          </p>
        <% end %>

        <!-- Pagination -->
        <% if @workshop_variations %>
          <div class="mt-6 flex justify-center">
            <div class="pagination">
              <%= tailwind_paginate @workshop_variations %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

