<div class="workshop-variation-detail py-6 min-h-screen">
  <div class="max-w-5xl mx-auto px-4">

    <div class="flex justify-end mb-6">
      <% if current_user.super_user? || current_user == @workshop_variation.created_by %>
        <div class="p-1">
          <%= link_to("Edit",
                      edit_workshop_variation_path(@workshop_variation),
                      class: "btn btn-primary-outline #{ "admin-only bg-blue-100" if current_user.super_user? }") %>
        </div>
      <% end %>
      <div class="p-1">
        <%= link_to("Back to Workshop",
                    workshop_path(@workshop_variation.workshop, anchor: "workshop-variations"),
                    class: "btn btn-secondary-outline") %>
      </div>

    </div>


    <!-- Resource Card -->
    <div class="bg-white rounded-lg shadow-md p-6 space-y-6">
      <div class="workshop">
        Workshop: <%= link_to(@workshop_variation.workshop.name,
                              workshop_path(@workshop_variation.workshop), class: "btn btn-secondary-outline") %>
      </div>

      <!-- Title -->
      <h2 class="text-3xl font-semibold text-gray-900">
        <%= @workshop_variation.name %>
        <% if @workshop_variation.inactive? %>
          <span class="text-lg font-normal text-red-500 mb-3">
            [HIDDEN]
          </span>
        <% end %>
      </h2>



      <!-- Author and Date -->
      <div class="flex flex-col gap-1">
        <div class="flex items-center text-gray-600 text-sm gap-2">
          <span><%= @workshop_variation.created_by&.name %></span>
          <span class="<%= "border-l border-gray-400 pl-2" if @workshop_variation.created_by.present? %>">
            <%= @workshop_variation.created_at.strftime('%B %e, %Y') %>
          </span>
        </div>
      </div>

      <!-- Primary Asset -->
      <%= render "assets/display_assets", resource: @workshop_variation %>

      <!-- URL -->
      <% if @workshop_variation.youtube_url.present? %>
        <div class="prose mx-auto leading-relaxed text-gray-800 text-left">
          <%= link_to @workshop_variation.youtube_url, @workshop_variation.youtube_url, target: "_blank",
                      rel: "noopener noreferrer",
                      class: "text-blue-600 hover:underline break-words" %>
        </div>
      <% end %>


      <!-- Main Text -->
      <div class="prose mx-auto leading-relaxed text-gray-800 text-left">
        <%= sanitize(@workshop_variation.code,
                     tags: %w(p br strong em a ul ol li), attributes: %w(href target)) %>
      </div>

    </div>
  </div>
</div>
