<div class="bg-white">
  <%= render "dashboard/workshops", workshops: @workshops, title: "Featured Workshops" %>
  <%= render "dashboard/community_news", community_news: @community_news %><br>
  <%= render "dashboard/resources", resources: @resources, title: "Popular Resources" %><br>
  <%= render "dashboard/events", events: @events %><br>
  <%= render "dashboard/stories", stories: @stories %><br>
</div>

