<%= tag.div id: "asset_upload" do %>
  <% owner = owner&.decorated? ? owner.object : owner %>

  <%= form_with model: LibraryAsset.new, class: "max-w-md mx-auto bg-white rounded-lg p-6 space-y-4 mb-2" do |f| %>
    <% if owner&.persisted? %>
      <%= hidden_field_tag :owner_sgid, owner.to_sgid.to_s, autocomplete: "off" %>
    <% else %>
      <%= tag.div class: "unpersisted_resource_asset_params" %>
    <% end %>

    <div class="bg-gray-50 p-4 rounded-md shadow-md">
      <%= f.label :type,
        class: "block text-sm font-medium text-gray-700 mb-1" %>

      <div class="relative">
        <%= f.select :type,
          Asset.allowed_types_for_owner(owner).map { |t| [t.underscore.humanize, t] },
          { required: true },
          class: "block w-full appearance-none rounded-md border border-gray-300
                  bg-white
                  px-3 py-2 pr-8
                  text-sm text-gray-700
                  shadow-sm
                  focus:border-indigo-500 focus:outline-none
                  focus:ring focus:ring-indigo-500 focus:ring-opacity-50" %>

        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400">
          <i class="fa-solid fa-chevron-down text-sm"></i>
        </div>
      </div>
    </div>

    <div class="bg-gray-50 p-4 rounded-md shadow-md">
      <%= f.label :file, "File",
        class: "block text-sm font-medium text-gray-700 mb-1" %>

      <%= f.file_field :file, direct_upload: true,
        required: true,
        id: "asset_file_input",
        class: "block w-full rounded-md border border-gray-300
                px-3 py-2 text-sm text-gray-700
                shadow-sm
                focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" %>
    </div>

    <div class="bg-gray-50 p-4 rounded-md shadow-md">
      <%= f.label :title,
        class: "block text-sm font-medium text-gray-700 mb-1" %>

      <%= f.text_field :title,
        placeholder: "optional",
        class: "block w-full rounded-md border border-gray-300
                px-3 py-2 text-sm text-gray-700
                shadow-sm
                focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" %>
    </div>

    <div>
      <%= f.submit "Upload Asset",
        class: "w-full bg-indigo-600 text-white font-semibold py-2 px-4 rounded-lg
                hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-300
                transition
                disabled:bg-indigo-400 disabled:cursor-not-allowed disabled:opacity-70",
        data: {
          disable_with: "Uploading..."
        } %>
    </div>
  <% end %>
<% end %>
