<h1>Password reset requested</h1>


<div style="text-align: left;">
  <p>
    Hello <strong><%= @user.devise_email_name %></strong>,
  </p>

  <p>
    We received a request to reset the password for your
    <strong><%= @organization_name %></strong> portal account.
  </p>
</div>

<div style="
background-color:#f3f4f6;
  border-radius:6px;
  padding:12px;
  margin:16px 0;
">
  <p>
    To choose a new password, click the button below:
  </p>

  <p>
    <%= link_to "Reset your password",
                edit_user_password_url(reset_password_token: @token),
                target: "_blank",
                style: "display:inline-block;
                        padding:10px 16px;
                        background:#2563eb;
                        color:#ffffff;
                        text-decoration:none;
                        border-radius:6px;
                        font-weight:bold;" %>
  </p>
</div>

<div style="text-align: left;">
  <p>
    This password reset link will expire in
    <%= distance_of_time_in_words(Devise.reset_password_within) %>
    and can only be used once.
  </p>

  <p>
    If you did not request a password reset, you can safely ignore this email.
    No changes will be made unless you use the link above.
  </p>

  <p>
    If you have any concerns, please visit
    <%= link_to "our contact page", contact_us_url %> to connect with staff.
  </p>
</div>

<% content_for :fallback_url do %>
  <%= edit_user_password_url(reset_password_token: @token) %>
<% end %>
