<% attachment = asset.file %>
<% blob = attachment&.blob %>
<% return unless blob %>

<figure
  class="
    relative attachment
    attachment--<%= blob.previewable? || blob.image? ? "preview" : "file" %>
    attachment--<%= blob.filename.extension %>
    w-fit
    rounded-md p-2 bg-gray-50 shadow-md
  "
>
  <% if blob.previewable? %>
    <%= image_tag attachment.preview(resize_to_limit: [256, 256]), class: "w-24 h-24 object-contain" %>
  <% elsif blob.image? %>
    <%= image_tag attachment.variant(:thumbnail), class: "w-24 h-24 object-contain" %>
  <% else %>
    <div
      class="
        w-24 h-24 flex items-center justify-center bg-gray-200 rounded text-center p-2 text-xs
        break-words whitespace-normal overflow-hidden
      "
      title="<%= blob.filename.to_s %>"
    >
      <span class="line-clamp-3"><%= blob.filename.to_s %></span>
    </div>
  <% end %>

  <!-- Asset ID badge (top-right) -->
  <% if asset.type == "RichTextAsset" %>
    <span
      class="
        absolute top-1 right-1
        bg-gray-700 text-white text-xs rounded px-1.5 py-0.5
        pointer-events-none
      "
    >
      <%= asset.id %>
    </span>
  <% end %>
</figure>
