<%= simple_form_for @user, html: { multipart: true } do |f| %>
  <%= render 'shared/errors', resource: user if user.errors.any? %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :avatar, class: 'bold' %>
      <%= image_tag user.avatar.url(:thumb), class: "img-rounded avatar" %>
      <%= f.file_field :avatar %>
    </div>
    <div class="col-md-6">
      <%= f.input :super_user, as: :boolean %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <%= f.input :email %>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :first_name %>
    </div>
    <div class="col-md-6">
      <%= f.input :last_name %>
    </div>
  </div>



  <div class="row">
    <div class="col-md-3">
      <%= f.input :phone, label: 'Work phone' %>
    </div>
    <div class="col-md-3">
      <%= f.input :phone2, label: 'Home phone' %>
    </div>
    <div class="col-md-3">
      <%= f.input :phone3, value: 'Cell phone' %>
    </div>
    <div class="col-md-3">
      <%= f.input :best_time_to_call %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :primary_address, collection: [['work', 1], ['home', 2]] %>
    </div>
    <div class="col-md-6">

    </div>
  </div>

  <div class="row">
    <label class="bold">Work Address</label>
    <div class="col-md-3">
      <%= f.input :address, value: 'Street' %>
    </div>
    <div class="col-md-3">
      <%= f.input :city %>
    </div>
    <div class="col-md-3">
      <%= f.input :state %>
    </div>
    <div class="col-md-3">
      <%= f.input :zip %>
    </div>
  </div>


  <div class="row">
    <label class="bold">Home Address</label>
    <div class="col-md-3">
      <%= f.input :address2, value: 'street' %>
    </div>
    <div class="col-md-3">
      <%= f.input :city2 %>
    </div>
    <div class="col-md-3">
      <%= f.input :state2 %>
    </div>
    <div class="col-md-3">
      <%= f.input :zip2 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.input :notes, as: :text, input_html: { rows: 2 } %>
    </div>
  </div>

  <%= link_to_button "Delete", @user, variant: :danger_outline, method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to_button 'Cancel', users_path, variant: :secondary_outline %>
  <%= f.submit 'Submit',
               class: "px-4 py-2 border border-blue-600 hover:text-gray-600 hover:bg-white
                 rounded-lg bg-blue-600 text-white text-sm font-medium" %>
<% end %> 