<%= render "assets/form", owner: @resource %>

<%= simple_form_for @resource, wrapper: :tailwind_form do |f| %>
  <%= render 'shared/errors', resource: @resource if @resource.errors.any? %>

  <%= tag.div class: "unpersisted_resource_asset_params" %>

  <!-- First Row -->
  <div class="title-row flex flex-wrap gap-4 my-6 py-6">
    <div class="flex-1 min-w-[200px]">
      <%= f.input :title,
                  as: :text,
                  input_html: { rows: 1, class: "w-full rounded border-gray-300 font-bold text-md" },
                  wrapper: false,
                  label_html: { class: 'block font-medium mb-1' } %>
    </div>

    <div class="flex-1 min-w-[200px]">
      <label class="block font-medium mb-1">Flags</label>

      <div class="flex items-center gap-6">
        <div><%= f.input :featured, as: :boolean, wrapper: false, label_html: { class: "inline" } %></div>

        <div>
          <%= f.input :inactive, as: :boolean,
                      label: "Hidden?",
                      wrapper: false, label_html: { class: "inline" } %>
        </div>
      </div>
    </div>

    <% if f.object.url.present? %>
      <div class="flex-[0_0_50%] min-w-[150px] bg-red-200 p-3">
        <label class="block text-md font-medium text-gray-700 mb-1">Attachment URL</label>

        <span class="text-gray-900 font-medium">
          <%= link_to f.object.url, f.object.url, target: "_blank", class: "underline" %>
        </span>

        <br>

        <div class="text-red-500">
          Download this file and reupload below.
        </div>

        <% if params[:admin].present? %>
          <%= f.input :url, # TODO - remove this value after reattaching
                      label: "Where the attachment is stored -- NEEDS TO BE REATTACHED",
                      as: :text,
                      hint: "Enter full url, e.g. https://example.com",
                      input_html: { class: "w-full rounded border-gray-300 px-2 py-1",
                                    rows: 1 },
                      label_html: { class: "font-medium mb-1 block" } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="title-row flex flex-wrap gap-4 mb-4">
    <div class="flex-1 min-w-[200px]">
      <%= f.input :kind,
                  as: :select,
                  collection: Resource::PUBLISHED_KINDS.include?(f.object.kind) ? Resource::PUBLISHED_KINDS : Resource::KINDS,
                  selected: f.object.kind,
                  input_html: { class: "w-full rounded border-gray-300" } %>
    </div>

    <div class="flex-1 min-w-[200px]">
      <%= f.input :windows_type_id,
                  as: :select,
                  collection: @windows_types, label_method: :short_name, value_method: :id,
                  include_blank: true,
                  selected: f.object.windows_type_id,
                  input_html: { value: f.object.windows_type_id,
                                class: "w-full rounded border-gray-300" } %>
    </div>

    <div class="flex-1 min-w-[200px]">
      <%= f.input :user_id,
                  as: :select,
                  label: "Author",
                  collection: @authors,
                  include_blank: true,
                  selected: f.object.user_id,
                  input_html: { value: f.object.user_id,
                                class: "w-full rounded border-gray-300" } %>
    </div>
  </div>

  <!-- Second Row -->
  <%= rhino_editor(f, :text) %>

  <!-- Second Row -->
  <div class="url-row flex flex-wrap gap-4 my-4">
    <div class="flex-[0_0_150px]">
      <%= f.input :position,
                  as: :integer,
                  label: "Display order",
                  hint: "For dashboard",
                  input_html: { class: "w-full rounded border-gray-300 px-2 py-1", min: 1, step: 1 },
                  label_html: { class: "font-medium mb-1 block" } %>
    </div>
  </div>

  <!-- Third Row -->
  <%# render "shared/form_image_fields", f: f, include_primary_asset: true %>

  <!-- Form Actions -->
  <div class="flex gap-2 mt-4">
    <%= link_to "Delete", @resource, class: "btn btn-danger-outline", method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to 'Cancel', resources_path, class: "btn btn-secondary-outline" %>

    <%= f.submit 'Submit',
                 class: "px-4 py-2 border border-blue-600 hover:text-gray-600 hover:bg-white
                 rounded-lg bg-blue-600 text-white text-sm font-medium" %>
  </div>
<% end %>
