<% default_btn = "text-gray-600 bg-white border border-gray-300
                  hover:bg-gray-100 hover:text-gray-800 shadow-sm" %>

<% selected_btn = "text-white #{ DomainTheme.bg_class_for(:resources, intensity: 600) } border-indigo-600
                   #{ DomainTheme.bg_class_for(:resources, intensity: 700, hover: true) } shadow-md ring-2 ring-indigo-300" %>

<%= form_tag resources_path, method: :get,
  data: {controller: "collection share-url",
         collection_unselected_class: default_btn,
         collection_selected_class: selected_btn,
         turbo_frame: "resource_results" },
         autocomplete: "off",
  class: "space-y-2" do %>
  <!-- Search Fields -->
  <div class="flex flex-wrap md:flex-nowrap items-end gap-6">
    <!-- KEYWORDS -->
    <div class="flex-1 min-w-[200px] pb-2">
      <label for="query" class="block text-xs font-semibold uppercase text-gray-500 tracking-wide mb-1">
        Keywords
      </label>

      <div class="relative">
        <%= text_field_tag :query, params[:query],
                           class: "w-full bg-white border border-gray-300 rounded-lg px-3 py-2 pr-10
                                 focus:ring-blue-500 focus:border-blue-500" %>

        <button type="submit" class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>

    <% if current_user.super_user? %>
      <!-- PUBLISHED -->
      <div class="min-w-[150px] admin-only bg-blue-100 p-2 rounded-md">
        <label for="published" class="block text-xs font-semibold uppercase text-gray-600 tracking-wide mb-1">
          Published
        </label>
        <%= select_tag :published_search,
                       options_for_select(
                         [["All", ""], ["Published", "true"], ["Hidden", "false"]],
                         params[:published_search]
                       ),
                       class: "border border-gray-300 rounded-lg px-3 py-2 text-gray-700 w-full" %>
      </div>
    <% end %>

    <!-- KINDS -->
    <div class="min-w-[150px]"><%= render "search_boxes_kinds", default_btn: default_btn %></div>

    <!-- CLEAR FILTERS -->
    <div class="min-w-[120px] pb-3">
      <label class="block text-xs font-semibold uppercase text-gray-500 tracking-wide mb-1">&nbsp;</label>
      <%= link_to "Clear filters", resources_path, class: "btn btn-utility" %>
    </div>
  </div>

  <%= render "resource_count" %>
<% end %>
