<%= turbo_frame_tag :resource_results do %>
  <%= turbo_stream.replace("resource_count", partial: "resource_count") %>
  <%= turbo_stream.replace("copy_url", partial: "shared/copy_url") %>

  <% if @resources.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 animate-fade blur-on-submit">
      <% @resources.each do |resource| %>
        <%= render "resource_card", resource: resource.decorate %>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-500 text-center py-6">There are no resources that match your search. Please try again.</p>
  <% end %>

  <div class="pagination flex justify-center mt-6 w-full"><%= tailwind_paginate @resources %></div>
<% end %>
