<div class="flex items-center justify-center">
  <div class="w-full max-w-md bg-white rounded-2xl shadow-lg mt-8 p-8">
    <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">Log in</h2>

    <%= simple_form_for(resource, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <% if resource.errors.any? %>
        <%= render 'shared/errors', resource: resource %>
      <% end %>

      <%= f.input :email,
                  autofocus: true,
                  required: true,
                  input_html: { class: "w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 shadow-sm" } %>
      <div
        class="flex flex-col relative"
        data-controller="password-toggle">
        <%= f.input :password,
                    as: :password,
                    required: true,
                    autocomplete: "current-password",
                    autocorrect: "off",
                    autocapitalize: "off",
                    spellcheck: "false",
                    input_html: {
                      class: "form-control password-field rounded-md border-gray-300 shadow-sm
                      focus:ring-blue-500 focus:border-blue-500 p-2 pr-10",
                      data: { password_toggle_target: "input" }
                    } %>

        <button
          type="button"
          class="toggle-password"
          data-action="password-toggle#toggle"
          aria-label="Toggle password visibility">
          <i class="fa fa-eye" data-password-toggle-target="icon"></i>
        </button>
      </div>

      <% if devise_mapping.rememberable? %>
        <%= f.input :remember_me, as: :boolean, label: "Remember me" %>
      <% end %>
      <div class="text-center">
        <%= f.button :submit, "Log in", class: "btn btn-primary" %>
      </div>

    <% end %>
    <div class="mt-6 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
