<%= simple_form_for(@workshop_log || WorkshopLog.new) do |f| %>
  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
  <%= f.input :windows_type_id, as: :hidden, input_html: { value: @windows_type_id } %>

  <div class="row">
    <div class="col-md-12 mb-3">
      <%= f.error_notification %>
      <span class="text-danger">
        <%= f.object.errors.full_messages.to_sentence %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-8">

      <% if params[:action] != 'new' %>
        <h2 class="normal"><%= @workshop_log.title %></h2>
      <% end %>

      <!-- Workshop Select -->
      <%= f.input :workshop_id,
                  as: :select,
                  collection: @workshops,
                  label_method: @title,   # method to display in dropdown
                  value_method: :id,      # value submitted
                  label: "Enter workshop name or select from dropdown",
                  prompt: "Select a Workshop",
                  required: true,
                  input_html: { class: "form-control form-control-custom" } %>
      <%= f.hidden_field :workshop_name, id: "workshop_title" %>
      <%= f.input :owner_type, as: :hidden, input_html: { value: "Workshop" } %>
      <%= f.input :owner_id, as: :hidden, input_html: { value:  @workshop&.id || f.object.workshop_id } %>

      <!-- Agency Select -->
      <div class="form-group">
        <%= f.input :project_id,
                    as: :select,
                    collection: @agencies,
                    label_method: @agency_title,       # method to show in dropdown
                    value_method: :id,          # method for value
                    label: "Agency",
                    required: true,
                    hint: "Please contact AWBW if your agency is not listed.",
                    prompt: (@agencies.size > 1 ? "Please select the relevant agency" : nil), # only show prompt if multiple
                    input_html: { class: "form-control form-control-custom" },
                    selected: (@agencies.size == 1 ? @agencies.first.id : nil) %>
      </div>

      <!-- Workshop Date -->
      <div class="form-group has-feedback">
        <%= f.input :date,
                    label: "Workshop Date",
                    required: true,
                    as: :string,
                    input_html: {
                      required: true,
                      type: 'date',
                      class: 'form-control',
                      value: @workshop_log.date&.strftime('%Y-%m-%d')
                    } %>
      </div>

      <!-- Other Sector Description -->
      <div class="row hide" id="other_sector_description_content">
        <div class="col-md-8 col-lg-8">
          <%= f.input :other_description, as: :string, placeholder: 'Enter other population(s) served',
                      input_html: { class: "form-control" } %>
        </div>
      </div>

    </div>
  </div>

  <!-- Participants Section -->
  <div class="row">
    <div class="col-md-9">
      <hr>
      <div class="label-plus-comment">
        <label>Participants</label>
      </div>
    </div>
  </div>

  <!-- Ongoing Participants -->
  <div class="row form-group">
    <div class="col-md-9">
      <div class="mb-3">
        <label>Ongoing participants<span class="custom-smaller"> (have attended a workshop with you or another facilitator at least once before)</span></label>
      </div>
      <div class="col-md-4">
        <%= f.input :children_ongoing,
                    as: :integer,
                    placeholder: 0,
                    label: "Children (0-12)",
                    input_html: { min: 0, value: @workshop_log&.children_ongoing, class: "form-control" },
                    wrapper: false %>
      </div>

      <div class="col-md-4">
        <%= f.input :teens_ongoing,
                    as: :integer,
                    placeholder: 0,
                    label: "Teens (13-17)",
                    input_html: { min: 0, value: @workshop_log&.teens_ongoing, class: "form-control" },
                    wrapper: false %>
      </div>

      <div class="col-md-4">
        <%= f.input :adults_ongoing,
                    as: :integer,
                    placeholder: 0,
                    label: "Adults (18+)",
                    input_html: { min: 0, value: @workshop_log&.adults_ongoing, class: "form-control" },
                    wrapper: false %>
      </div>
    </div>
  </div>

  <!-- First-Time Participants -->
  <div class="row form-group">
    <div class="col-md-9">
      <div class="small bold mb-3">
        <label>First-time participants<span class="custom-smaller"> (have never attended a workshop with you or another facilitator before)</span></label>
      </div>
      <div class="col-md-4">
        <%= f.input :children_first_time,
                    as: :integer,
                    placeholder: 0,
                    label: "Children (0-12)",
                    input_html: { min: 0, value: @workshop_log&.children_first_time, class: "form-control" },
                    wrapper: false %>
      </div>

      <div class="col-md-4">
        <%= f.input :teens_first_time,
                    as: :integer,
                    placeholder: 0,
                    label: "Teens (13-17)",
                    input_html: { min: 0, value: @workshop_log&.teens_first_time, class: "form-control" },
                    wrapper: false %>
      </div>

      <div class="col-md-4">
        <%= f.input :adults_first_time,
                    as: :integer,
                    placeholder: 0,
                    label: "Adults (18+)",
                    input_html: { min: 0, value: @workshop_log&.adults_first_time, class: "form-control" },
                    wrapper: false %>
      </div>
    </div>
  </div>

  <!-- Dynamic Form Fields -->
  <div class="row">
    <div class="col-md-9">
      <hr>
      <% @report_field_answers.each do |rffa| %>
        <%= f.simple_fields_for :report_form_field_answers, rffa do |rffa_form| %>
          <% field = rffa_form.object.form_field %>
          <% skip_ids = [5,6,7,8,9,10,11,25,26,27,28,44,45,46,47,48,49,50,83,84,20,21,22,113,115,116,117,118,119,120,
                         38, 39, 40,41,42,123,43,124,125,126,127,128, 101] %>
          <% next if skip_ids.include?(field.id) %>
          <%= render 'report_form_field_answer_fields', field: field, report_id: f.object.id || @workshop_log&.id, f: rffa_form %>
        <% end %>
      <% end %>
    </div>
  </div>



  <!-- Quotes -->
  <div class="row form-group">
    <div class="col-md-8 col-lg-8">
      <hr>
      <div class="label-plus-comment">
        <label>Quotes from participants</label>
      </div>
      What did your participants share about their experience? Please write quotes in first person. For confidentiality, do not disclose names.
      <div id="quotes">
        <%= f.simple_fields_for :quotable_item_quotes do |qiq_form| %>
          <%= render 'quotable_item_quote_fields', f: qiq_form %>
          <% if qiq_form.object.errors.any? %>
            <div class="text-danger">
              <%= qiq_form.object.errors.full_messages.join(', ') %>
            </div>
          <% end %>
        <% end %>

        <%= link_to_add_association "Add Quote", f, :quotable_item_quotes %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-8">
      <hr>
      <div class="label-plus-comment">
        <label>Upload Images / Media Releases</label>
      </div>
      <p>
        Click <a href="https://bit.ly/AWBWartmedia" target="_blank">here to download</a> the Art/Media Release in English and Spanish.
      </p>

      <div id="media-files">
        <%= f.simple_fields_for :media_files do |mf_form| %>
          <%= render 'media_file_fields', f: mf_form %>
          <% if mf_form.object.errors.any? %>
            <div class="text-danger">
              <%= mf_form.object.errors.full_messages.join(', ') %>
            </div>
          <% end %>
        <% end %>

        <%= link_to_add_association "Add another file", f, :media_files %>
      </div>
    </div>
  </div>

  <!-- Submit -->
  <div class="submit-row btn-container text-center">
    <% if @workshop_log.persisted? && current_user.super_user? %>
      <%= link_to "Delete", @workshop_log, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
    <% end %>
    <%= link_to "Cancel", workshop_logs_path, class: "btn btn-outline-secondary" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
