<%= simple_form_for(@project) do |f| %>
  <%= render 'shared/errors', resource: @project if @project.errors.any? %>

  <div class="grid grid-cols-1 md:grid-cols-[3fr_1fr] gap-6 p-3 mb-6 items-start">

    <!-- LEFT SIDE (3/4) -->
    <div>
      <!-- Project Name + Hidden -->
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
        <div class="md:col-span-2">
          <%= f.input :name,
                      label: "Project Name",
                      as: :text,
                      required: true,
                      input_html: {
                        autofocus: true,
                        rows: 1,
                        class: "w-full rounded-md border-gray-300 shadow-sm
                          focus:border-blue-500 focus:ring focus:ring-blue-200"
                      } %>
        </div>

        <div class="md:col-span-1">
          <%= f.input :project_status_id,
                      label: "Project status",
                      as: :select,
                      required: true,
                      collection: @project_statuses,
                      selected: f.object.project_status_id,
                      input_html: {
                        class: "w-full rounded-md border-gray-300 shadow-sm
                          focus:ring-blue-500 focus:border-blue-500"
                      } %>
        </div>

        <div class="md:col-span-1 md:self-end">
          <%= f.input :inactive,
                      as: :boolean,
                      label: "Hidden?",
                      input_html: {
                        class: "mr-2 rounded focus:ring-blue-500 text-blue-600"
                      } %>
        </div>
      </div>

      <!-- Sectors -->
      <div class="form-group space-y-4">
        <div class="font-semibold text-gray-700">
          Service populations
        </div>
        <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 mb-4 shadow-sm">
          <div class="flex flex-wrap items-center gap-4 p-3">
            <%= f.simple_fields_for :sectorable_items do |sfi| %>
              <%= render "sectorable_item_fields", f: sfi %>
            <% end %>

             <%= link_to_add_association "➕ Add Sector",
                                      f,
                                      :sectorable_items,
                                      render_options: {
                                        locals: {
                                          collection: Sector.published.where.not(name: f.object.sector_list)
                                        }
                                      },
                                    class: "btn btn-secondary-outline" %>
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT SIDE (1/4) -->
    <div class="flex justify-center text-center md:justify-start">
      <!-- Logo -->
      <div class="flex flex-col items-center gap-4" style="flex: 0 0 25%;">
        <%= render "shared/form_image_field", f: f, field_name: :logo %>
      </div>
    </div>

  </div>


  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
    <div class="flex flex-col">
      <%= f.input :agency_type,
                  label: "Agency Type",
                  as: :select,
                  required: true,
                  collection: [
                    "501c3/nonprofit",
                    "For-profit",
                    "Government agency",
                    "Other (please specify below)"
                  ],
                  selected: f.object.agency_type,
                  input_html: {
                    value: f.object.agency_type,
                    class: "rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
                  } %>
    </div>
    <%= f.input :agency_type_other,
                label: "Agency Type Other",
                hint: "Please specify if 'Other' selected",
                input_html: {
                  class: "rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200"
                } %>
    <%= f.association :windows_type,
                      label: "Windows Type",
                      include_blank: true,
                      required: false,
                      input_html: {
                        class: "rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200"
                      } %>

    <% if current_user.super_user? %>
      <div class="admin-only bg-blue-100">
        <%= f.input :project_status_id,
                    as: :select,
                    collection: @project_statuses,
                    include_blank: true,
                    label: "Status",
                    required: true,
                    input_html: {
                      class: "rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200"
                    } %>
      </div>
    <% else %>
      <div class="text-md font-semibold">
        Project status:
      </div>
      <%= f.object.project_status&.name %>
    <% end %>
  </div>

  <!-- WINDOWS / STATUS / START / END -->
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
    <% if current_user.super_user? %>
      <div class="admin-only bg-blue-100">
        <%= f.input :start_date,
                    label: "Affiliation start date",
                    as: :string,
                    input_html: {
                      type: 'date',
                      value: f.object.start_date&.strftime('%Y-%m-%d'),
                      class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
                    } %>
      </div>
      <div class="admin-only bg-blue-100">
        <%= f.input :end_date,
                    label: "Affiliation end date",
                    as: :string,
                    input_html: {
                      type: 'date',
                      value: f.object.end_date&.strftime('%Y-%m-%d'),
                      class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
                    } %>
      </div>
    <% else %>
      <div class="">
        <div class="text-md font-semibold">
          Affiliation start date:
        </div>
        <%= f.object.start_date&.strftime('%Y-%m-%d') %>
      </div>

      <div class="">
        <div class="text-md font-semibold">
          Affiliation end date:
        </div>
        <%= f.object.end_date&.strftime('%Y-%m-%d') %>
      </div>

    <% end %>
    <%= f.input :website_url,
                label: "Website URL",
                as: :string,
                input_html: {
                  class: "rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
                } %>
    <% if current_user.super_user? %>
      <div class="admin-only bg-blue-100">
        <%= f.input :internal_id,
                    label: "Internal Project ID",
                    input_html: {
                      class: "rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
                    } %>
      </div>
    <% end %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
    <%= f.input :description,
                as: :text,
                label: "Description",
                input_html: {
                  rows: 4,
                  class: "rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-200"
                } %>
    <%= f.input :mission_vision_values,
                label: "Mission / Vision / Values",
                as: :text,
                input_html: {
                  rows: 4,
                  class: "rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
                } %>
  </div>

  <% if current_user.super_user? %>
    <div class="admin-only bg-blue-100">
      <div class="mb-6">
        <%= f.input :notes,
                    as: :text,
                    label: "Internal Notes",
                    input_html: {
                      rows: 3,
                      class: "rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-200"
                    } %>
      </div>
    </div>
  <% end %>

  <div class="form-group space-y-4">
    <div class="font-semibold text-gray-700">
      Addresses
    </div>
    <div class="rounded-lg border border-gray-200 bg-yellow-50 p-4 mb-4 shadow-sm">
      <div class="flex flex-wrap items-center gap-4 p-3">
        <%= f.simple_fields_for :addresses do |sfi| %>
          <%= render "address_fields", f: sfi %>
        <% end %>
      </div>
      <%= link_to_add_association "➕ Add Address",
                                  f,
                                  :addresses,
                                  render_options: {
                                    locals: {
                                      collection: Sector.published.where.not(name: f.object.sector_list)
                                    }
                                  },
                                  class: "btn btn-secondary-outline" %>
    </div>
  </div>

  <div class="form-group space-y-4">
    <div class="font-semibold text-gray-700">
      Facilitator affiliations
    </div>
    <div class="rounded-lg border border-gray-200 bg-gray-50 p-4 mb-4 shadow-sm">
      <% if current_user.super_user? %>
        <div class="admin-only bg-blue-100 p-3">
          <%= f.fields_for :project_users do |project_user_form| %>
            <%= render "project_user_fields",
                       f: project_user_form %>
          <% end %>

          <div class="admin-only bg-blue-100 p-3 mt-6">
            <%= link_to_add_association "➕ Add Role",
                                        f,
                                        :project_users,
                                        class: "btn btn-secondary-outline" %>
          </div>
        </div>
      <% else %>
        <% f.object.user && f.object.user.project_users.each do |pu| %>
          <div class="ps-6 mb-2">
            <li><%= pu.title || pu.position %> -
              <%= facilitator_profile_button(pu.user.facilitator) if pu.persisted? && pu.user.facilitator %>
            </li>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- ACTIONS -->
  <div class="flex justify-end gap-3">
    <% if  @project.persisted? && current_user.super_user? %>
      <%= link_to "Delete", @project, class: "btn btn-danger-outline",
                  method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    <%= link_to "Cancel", projects_path, class: "btn btn-utility-outline" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
