<div class='width search-curriculum-page'>
  <!-- %br -->
  <div class="col-md-12">
    <div class="entry-content d-flex align-items-start justify-content-between mb-3">
      <div class="me-3">
        <div class="pull-left">
          <h2 class="normal">Workshop Variations</h2>
        </div>
        <div class="pull-right">
          <div>
            <%= link_to_button 'New workshop variation',
                               new_workshop_variation_path(from: "index"),
                               variant: :primary_outline %>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12">
    <hr>
    <table class="table table-responsive table-bordered table-curved">
      <thead>
      <tr id="table-thead-tr">
        <th class="text-start text-nowrap">Workshop</th>
        <th class="text-center">Name</th>
        <th class="text-left">Description</th>
        <th class="text-center">Updated</th>
        <th class="text-center">Edit</th>
      </tr>
      </thead>

      <tbody>
        <% @workshop_variations.each do |workshop_variation| %>
          <tr>
            <td class="text-start">
              <span title="<%= strip_tags(workshop_variation.workshop&.name) %>">
                <%= truncate(strip_tags(workshop_variation.workshop.name), length: 50) if workshop_variation.workshop %>
              </span>
            </td>

            <td class="text-start"><%= workshop_variation.name %></td>
            <td class="text-start">
              <span title="<%= strip_tags(workshop_variation.code) %>">
                <%= truncate(strip_tags(workshop_variation.code), length: 150) %>
              </span>
            </td>
            <td class="user-updated-at text-center"><%= workshop_variation.updated_at&.strftime('%m/%d/%y') %></td>
            <td class="text-center"><%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_workshop_variation_path(workshop_variation) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class='paginate-container'>
      <!-- ##### Will Paginate #### -->
      <%= will_paginate @workshop_variations, :previous_label => '<<', :next_label => '>>', :inner_window => 2 %>
    </div>
  </div>
</div>

</div>

