<%= simple_form_for @resource, wrapper: :tailwind_form do |f| %>
  <%= render 'shared/errors', resource: @resource if @resource.errors.any? %>

  <!-- First Row -->
  <div class="title-row flex flex-wrap gap-4 mb-4">
    <div class="flex-1 min-w-[200px]">
      <%= f.input :title,
                  as: :text,
                  input_html: { rows: 1, class: "w-full rounded border-gray-300 font-bold text-md" },
                  wrapper: false,
                  label_html: { class: 'block font-medium mb-1' } %>
    </div>
    <div class="flex-1 min-w-[200px]">
      <label class="block font-medium mb-1">Flags</label>
      <div class="flex items-center gap-6">
        <div>
          <%= f.input :featured, as: :boolean, wrapper: false, label_html: { class: "inline" } %>
        </div>
        <div>
          <%= f.input :inactive, as: :boolean,
                      label: "Hidden?",
                      wrapper: false, label_html: { class: "inline" } %>
        </div>
      </div>
    </div>
  </div>
  <div class="title-row flex flex-wrap gap-4 mb-4">
    <div class="flex-1 min-w-[200px]">
      <%= f.input :kind,
                  as: :select,
                  collection: Resource::PUBLISHED_KINDS,
                  selected: f.object.kind,
                  input_html: { class: "w-full rounded border-gray-300" } %>
    </div>
    <div class="flex-1 min-w-[200px]">
      <%= f.input :windows_type_id,
                  as: :select,
                  collection: @windows_types,
                  include_blank: true,
                  selected: f.object.windows_type_id,
                  input_html: { value: f.object.windows_type_id,
                                class: "w-full rounded border-gray-300" } %>
    </div>
    <div class="flex-1 min-w-[200px]">
      <%= f.input :user_id,
                  as: :select,
                  label: "Author",
                  collection: @authors,
                  include_blank: true,
                  selected: f.object.user_id,
                  input_html: { value: f.object.user_id,
                                class: "w-full rounded border-gray-300" } %>
    </div>
  </div>

  <!-- Second Row -->
  <div class="text-row flex flex-wrap gap-4 mb-4">
    <div class="flex-1 min-w-[200px]">
      <%= f.input :text,
                  as: :text,
                  input_html: { rows: 5, class: "w-full rounded border-gray-300" } %>
    </div>
  </div>

  <!-- Second Row -->
  <div class="url-row flex flex-wrap gap-4 mb-4">
    <!-- URL Input: max half width -->
    <div class="flex-[0_0_50%] min-w-[150px]">
      <%= f.input :url,
                  as: :text,
                  hint: "Enter full url, e.g. https://example.com",
                  input_html: { class: "w-full rounded border-gray-300 px-2 py-1",
                                rows: 1 },
                  label_html: { class: "font-medium mb-1 block" } %>
    </div>

    <!-- Ordering Input -->
    <div class="flex-[0_0_150px]">
      <%= f.input :ordering,
                  as: :integer,
                  label: "Display order",
                  hint: "For dashboard",
                  input_html: { class: "w-full rounded border-gray-300 px-2 py-1", min: 1, step: 1 },
                  label_html: { class: "font-medium mb-1 block" } %>
    </div>
  </div>

  <!-- Third Row -->
  <div class="uploads-row flex flex-wrap gap-4 mb-4">
    <!-- Main Image -->
    <div class="flex-1 min-w-[200px] flex flex-col gap-2">
      <%= f.simple_fields_for :images, f.object.images.first || f.object.images.build do |mi| %>
        <div class="nested-fields flex flex-col gap-2">
          <div class="mb-4">
            <div class="flex flex-col items-start gap-4" style="flex: 0 0 25%;">
              <%= render 'shared/form_image_field', f: mi, resource: mi.object, field_name: :file,
                         label: "Main image" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Attachment -->
    <div class="flex-1 min-w-[200px] flex flex-col gap-2">
      <%= f.simple_fields_for :attachments, f.object.main_attachment || f.object.attachments.build do |att| %>
        <div class="nested-fields flex flex-col gap-2">
          <div class="mb-4">
            <div class="flex flex-col items-center gap-4" style="flex: 0 0 25%;">
              <%= render 'shared/form_image_field', f: att, resource: att.object,
                         field_name: :file, label: "Attachment" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>



  <!-- Form Actions -->
  <div class="flex gap-2 mt-4">
    <%= link_to "Delete", @resource, class: "btn btn-danger-outline", method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to 'Cancel', resources_path, class: "btn btn-secondary-outline" %>
    <%= f.submit 'Submit',
                 class: "px-4 py-2 border border-blue-600 hover:text-gray-600 hover:bg-white
                 rounded-lg bg-blue-600 text-white text-sm font-medium" %>
  </div>
<% end %>

<script>
    document.addEventListener("turbo:load", () => {
        document.querySelectorAll('input[type="file"]').forEach(input => {
            input.addEventListener('change', () => {
                const label = input.closest('label'); // find parent label
                if (!label) return;

                const span = label.querySelector('span');
                if (span) {
                    span.textContent = input.files.length > 0 ? input.files[0].name : "Choose new file";
                }
            });
        });
    });
</script>
