<div class="relative ml-3" id="avatar" data-controller="dropdown">
  <button
    type="button"
    class="
      relative flex rounded-full focus-visible:outline-2
      focus-visible:outline-offset-2 focus-visible:outline-indigo-500 cursor-pointer
    "
    data-action="dropdown#toggle"
    data-dropdown-payload-param='[{"avatar-dropdown":"hidden"}]'
  >
    <span class="sr-only">Open user menu</span>
    <span class="absolute -inset-1.5"></span>
    <% image = current_user&.avatar&.attached? ? url_for(current_user.avatar) : "missing.png" %>
    <%= image_tag image,
                  id: "avatar-image",
                  class: "size-10 rounded-full bg-gray-800 outline -outline-offset-1 outline-white/10 img-circle avatar" %>

  </button>
  <!-- Dropdown menu -->
<div
  class="absolute right-0 mt-2 w-56 rounded-md bg-white py-1 shadow-lg outline outline-black/5 transition hidden"
  id="avatar-dropdown"
  data-dropdown-target="content"
>
  <% if current_user&.super_user? %>
    <%= link_to dashboard_admin_path,
                class: "flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full space-x-2" do %>
      <i class="fas fa-cog"></i>
      <span>Admin</span>
    <% end %>
  <% end %>

  <% if current_user&.super_user %>
    <%= link_to (current_user.facilitator ? facilitator_path(current_user.facilitator) : generate_facilitator_user_path(current_user)),
                class: "admin-only bg-blue-100 flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full space-x-2" do %>
      <i class="fas fa-user"></i>
      <span>My profile</span>
    <% end %>
  <% end %>

  <% if current_user&.super_user && current_user.project_users.any? %>
    <% current_user.project_users.each do |project_user| %>
      <%= link_to project_path(project_user.project),
                  class: "admin-only bg-blue-100 flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full space-x-2" do %>
        <i class="fas fa-users"></i>
        <span>
          My team<%= " (" + project_user.project.name.truncate(12) + ")" if current_user.project_users.many? %>
        </span>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to personal_bookmarks_path,
              class: "flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full space-x-2" do %>
    <i class="fas fa-bookmark"></i>
    <span>My bookmarks</span>
  <% end %>

  <%= link_to workshop_logs_path(user_id: current_user.id),
              class: "flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full space-x-2" do %>
    <i class="fas fa-clipboard-list"></i>
    <span>My workshop logs</span>
  <% end %>

  <%= link_to change_password_path,
              class: "flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full space-x-2" do %>
    <i class="fas fa-key"></i>
    <span>Change password</span>
  <% end %>

  <%= link_to destroy_user_session_path,
              method: :delete,
              data: { turbo_method: :delete },
              class: "flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full space-x-2" do %>
    <i class="fas fa-sign-out-alt"></i>
    <span>Logout</span>
  <% end %>
</div>

</div>
