<% bg_color ||= "bg-white" %>
<% record_title ||= record.title %>
<% title_font_size ||= nil %>
<% bookmarkable ||= record.object %>

<div class="relative">
  <!-- BOOKMARK ICON -->
  <div class="absolute top-3 right-3 z-30">
    <%= render "bookmarks/editable_bookmark_icon", resource: bookmarkable %>
  </div>

  <!-- CARD -->
  <div class="
    flex flex-row flex-wrap
    <%= bg_color %> border border-gray-200 rounded-xl shadow-sm hover:shadow-md
    transition-all overflow-hidden cursor-pointer">

    <!-- LEFT SIDE -->
    <div class="
      flex-shrink-0
      w-18 md:w-24
      flex flex-col items-center text-center justify-start py-4 pb-3 px-3
      border-b md:border-b-0 md:border-r border-gray-200">
      <!-- IMAGE -->
      <div class="relative w-12 h-12 md:w-16 md:h-16">
        <%= link_to polymorphic_path(record.object), data: { turbo_prefetch: false }, class: "block w-full h-full" do %>
          <%= render "assets/display_image",
                     resource: record.object,
                     width: "full", height: "full",
                     link: false,
                     link_to_object: false,
                     file: record.display_image %>
        <% end %>
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="flex-1 min-w-0 pl-4 pr-10 py-1 flex flex-col justify-start">
      <div class="my-2">
        <%= link_to polymorphic_path(record.object),
                    data: { turbo_prefetch: false },
                    class: "inline-flex min-w-0 max-w-full text-lg font-semibold
                            text-gray-900 leading-tight hover:underline" do %>
          <%= title_with_badges(record, font_size: title_font_size,
                                record_title: record_title,
                                show_hidden_badge: true).html_safe %>
        <% end %>
        <div class="text-gray-400 text-sm mt-1">
          <%= record.created_at.strftime("%b %d, %Y") %>
        </div>
      </div>
    </div>
  </div>
</div>
